.customers-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.customers-container b {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    align-self: center;
    color: #0B64B9;
    font-size: 2rem;
}

.slider {
	margin: auto;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
        background-color: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		content: "";
		height: fit-content;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}



@media(max-width: 768px) {
    .customers-container {
        background-color: #E9F0FF;
        text-align: center;
    }

    .customers-container b {
        font-size: 1.6rem;
    }
}

@keyframes scroll {
    0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}