.customers-container {
    display: none;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.customers-container b {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    align-self: center;
    color: #0B64B9;
    font-size: 2rem;
}

.customers-container .customers-slider .slick-track {
    display: flex;
    gap: 60px;
}

.customers-container .customers-slider img {
    height: 100px;
    width: unset !important;
}

@media(max-width: 768px) {
    .customers-container {
        background-color: #E9F0FF;
    }

    .customers-container b {
        font-size: 1.6rem;
    }

    .customers-container .customers-slider .slick-track {
        gap: 0;
    }

     .customers-container .customers-slider .slick-slide {
        padding: 0 10px;
     }
}