.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 0;
    background-color: #E6EEFF;
}

.logo {
    height: 50px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    vertical-align: middle;
}

.nav-icon {
    margin-right: 5px;
    height: 15px;
}