.main-banner {
    width: -webkit-fill-available;
    z-index: 30;
    position: relative;
    background-color: #E9F0FF;
}

.main-banner img {
    width: 100%;
}

.main-banner-mob .banner-slider {
   width: 100%;
   max-width: 100%;
   overflow: hidden;
   position: relative;
 }